* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

h1 {
    font-size: 58px;
    line-height: 62px;
    margin-bottom: 20px;
}
